body, p {
	/*font-family: 'Josefin Sans', sans-serif;*/
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	color: #000;
	text-decoration: none;
}

button {
	border: none;
	background-color: transparent;
}

button h3 {
	margin-top: -40px;
}

button img {
	width: 140px;
}

textarea {
	resize: none;
}

.pics {
	padding-top: 10% ;
}
p {
	font-size: 16px;
}

h4 {
	font-size: 20px;
}

h2.bottom-text {
	margin-bottom: 1em;
	font-size: 25px;
}

h4.vertical-text  {
	writing-mode: vertical-lr;
	text-orientation: upright;
}

div#my-nav > div.row {
	margin: 0 0;
}

#middle-row > div,#middle-row > div h2 {
	padding: 0 0;
}

.left {
	position: absolute;
  	left: 0;
  	margin: auto;
}

.right {
	text-align: right;
}

a:hover {
	cursor : pointer;
}

a.text-design {
	text-decoration: none;
	color: #000;
	/*background-image: none;*/
}

a.text-design:hover {
	text-decoration: none;
	color: #000;
}

/*a.img-hover-one {
	background-image: url('../img/empty.png');
	background-position: 0em 3.1em;
	background-repeat: no-repeat;
	background-size: 70%;
	transition: background-image 0.5s ease-in;
}*/

a.img-hover {
	background-repeat: no-repeat;
	background-position: 2em 3.1em;
	background-size: 70%;
	transition: background-image 0.5s linear;
}

a.img-hover-one:hover {
	background-image: url("../img/hover.png");
}

a.img-hover-two:hover {
	background-image: url("../img/hover-2.png");
}

a.img-hover-three:hover {
	background-image: url("../img/hover-3.png");
}

a.scroll-down  {
	cursor: pointer;
	transition: background-image 0.5s ease;
	min-height: 45px;
    min-width: 40px;
    background-image: url(../img/down-arrow.png);
    background-repeat: no-repeat;
    width: auto;
    height: auto;
    position: absolute;
    left: 53%;
    top: 90%;
}

.active-link {
	background-image: url("../img/overline-2.png");
	background-position: 30px 20px !important;
}

a.scroll-down:hover {
	min-height: 200px;
    min-width: 100px;
    background-image: url(../img/down-arrow-hover.png);
    background-repeat: no-repeat;
    width: auto;
    height: auto;
    position: absolute;
    left: 53%;
    top: 90%;
}

#drawing-space {
	height:auto;
	width:auto;
	position: fixed;
	top:0;
	left:0;
}

.text-design {
	letter-spacing: 0.2em;
	font-weight: 300;
}

.center {
	text-align: center;
}

.bottom {
	position: absolute;
  	bottom: 0;
  	width: 100%;
}

#my-nav {
	display: block;
}

.my-nav-inline {
	text-align: right;
	margin-right: 2em; 
	position: fixed;
	right: 0;
	z-index: 3;
}

.my-nav-inline ul {
	list-style: none;
	background-image: url(../img/brush-nav.png);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
    padding-bottom: 30px;
}

.my-nav-inline ul li {
	display: inline-block;
	padding-top:2em;
}

.my-nav-inline ul li a {
	font-size: 20px;
	padding: 2em;
}

.my-nav-logo {
	max-height: 70px;
	padding-left: 1em;
    margin-top: 1em;
    position: fixed;
}

.overlay { 
	position: fixed;
    top: 0;
	left: 0;
    width: 100%;
    height: 100%; 
    z-index: 0;
    opacity: 0;
}

.active {
	opacity: 1;
	z-index: 2;
}

.logo p {
	text-align: center;
    font-size: 25px;
}

.logo {
	display:flex;
	justify-content:center;
	align-items:center;
}

.logo-img {
	max-height: 50%;
	max-width: 50%;
}


.right-menu {
	margin : 0 0;
	width: 100%;
}

#projects {
	padding: 50px 0px;
	height:100%;
	width:100%;
	position: absolute;
	top: 100%; 
	left: 0;
}

.finish-line {
	width:auto;
	max-width:100%;
	margin-top: 55px;
}

.title-row {
	margin-bottom: 4em;
}

.project-preview {
	cursor: pointer;
	padding: 0;
	margin: 2em 0px;
}

.project-preview img.project-picture {
	width: 400px;
	padding: 1.5em 1.5em;
}

.project-preview img.project-picture:hover {
	width: 400px;
	padding: 1.2em 1.2em;
}

.project-row {
	margin: 3em 5em;
	max-width: 900px;
	/*min-height: 350px !important;*/
}

/*a.project-link {
	position: absolute;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.66);
    padding: 33% 0 0 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
}

a.project-link:hover {
	background: rgba(0, 0, 0, 0.66);
	transition: all 0.5s;
}*/

div.see-more {
  	background: rgba(0, 0, 0, 0);
   	position: absolute;
	width: 400px;
    height: 400px;
    /*margin-left: 5px;
    margin-top: 5px;*/
}

img.icon-plus {
	height: 75px;
	width: auto;
	display: none;
	margin: 8em auto;
}

a.project-link {
	width: 400px;
	height: 400px;
	display: block;
}
    
a.project-link:hover {
    display: block;
    
}

div.see-more p {
	font-size: 30px;
	color: rgb(255,255,255);
	position: absolute;
	width: 400px;
	height: 400px;
	top:55%;
	text-align: center;
	display: none;
}

a.project-link:hover > div.see-more {
	background: rgba(0, 0, 0, 0.66);
	transition: background 1s;
	display: block;
}

a.project-link:hover > div.see-more > p {
	display: block;
}

a.project-link:hover > div.see-more > img {
	display: block;
}

a.project-link:hover > div.small-description {
	display: none;
}

.small-description {
	position: absolute;
	margin: 1.5em;
	bottom: 0;
	width: 358px;
	height: 100px;
	background: rgba(0, 0, 0, 0.66);
	text-align: center;
	padding: 0.5em;
}

.small-description p , .small-description h4 {

	color: rgb(255,255,255);
}

#who-am-i {
	padding: 50px 0px;
	height:100%;
	width:100%;
	position: absolute;
	top: 200%; 
	left: 0;
}

.line img {
	width : 60%;
}

.project-img img, .project-img iframe {
	width: 100%;
	padding-bottom: 2em;
	padding-top: 1em;
}

.title-project {
	margin: 1em 0px;
}

img.project-close {
	max-height: 60px;
}

.content {
	max-width : 1000px;
	margin: auto;
	margin-top: 5%;
}

.content-project {
	max-width : 1000px;
	margin: auto;
	margin-top: 5%;
}

.title, .the-form form, .about {
	padding: 3em 0em;
}

.intro-contact, .contact-info, .intro-pojects {
	padding-bottom: 3em;
}

.cat {
	padding-top: 3em;
}

.contact-info b {
	font-size: 20px;
}
.contact-info b {
	font-size: 25px;
}

.line-right {
    max-width: 40%;
}

.line-right-big {
    max-width: 50%;
}

h2.line {
 	display: inline;
 }

.the-form form {
	width: 500px;
    margin: auto;
}

.the-form input, textarea {
	width: 100%;
	padding: 1em;
    border: grey solid 1px;
}

.the-form input:focus, textarea:focus {
	border: grey solid 2px;
	outline: none;
}

.input-form {
	margin-bottom: 1em;
}

.about-profile {
	width: 80%;
}

.about-brush {
	width: 60%;
	margin-top: -70px;
    margin-right: 40px;
}

.socials {
	list-style: none;
	padding: 0.5em 0;
}

.socials li {
	display: inline-block;
}

.socials li a i {
	font-size: 35px;
	margin: 0em 0.5em;
	color: rgba(0, 0, 0, 0.66);
}

button.choices h5 {
	margin-top: -40px;
    margin-left: 1.5em;
    font-size: 18px;
}

/*filter - isotope*/
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}